artifacts/appflexor/n8n-workflows/s2a-cloud/Send Email.json
{
  "name": "Send Email",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -480,
        -16
      ],
      "id": "e96bf961-dec4-4dd1-9648-bb4878bcd292",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:8089/engine-rest/external-task/fetchAndLock",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"workerId\": \"SEND_EMAIL\",\n  \"maxTasks\": 1,\n  \"usePriority\": true,\n  \"topics\": [\n    {\n      \"topicName\": \"SEND_EMAIL\",\n      \"lockDuration\": 6000\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -288,
        -16
      ],
      "id": "44413aa3-6368-4b95-b08e-a85502a7bb39",
      "name": "Fetch and Lock"
    },
    {
      "parameters": {
        "jsCode": "const items = [];\n\nfor (const item of $input.all()) {\n  items.push({\n    json: {\n      taskId: item.json.id,\n      processInstanceId: item.json.processInstanceId,\n      datasource:item.json.variables.tenantId.value,\n      businessKey:item.json.businessKey,\n      body: {\n        workerId: item.json.workerId,\n        variables: {\n          ...item.json.variables, // spread existing variables\n          result: { value: \"done\", type: \"String\" }, // add or overwrite\n        },\n      },\n    },\n  });\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -16
      ],
      "id": "92ba1d30-5d9b-4e60-bd4c-d0c354ea7913",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cloud.step2agility.com/app/service?service.key=send.email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "AUTH_KEY",
              "value": "3d221242-de5e-4dfa-b464-fa0938b0d463"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"dataKeys\": [\n        {\n            \"dataParams\": \"{{ $json.body.variables.dataParams.value }}\",\n            \"emailKey\": \"{{ $json.body.variables.emailKey.value }}\"\n        }\n    ]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        -16
      ],
      "id": "fcf1abaf-8c71-460a-9638-fa01fa842ce7",
      "name": "Send Email"
    },
    {
      "parameters": {
        "jsCode": "const items = [];\n\nfor (const item of $input.all()) {\n  const request = {\n    taskId: $('Fetch and Lock').first().json.id,\n    workerId: \"SEND_EMAIL\",\n    tenantId: $('Fetch and Lock').first().json.tenantId,\n    variables: $('Fetch and Lock').first().json.variables\n  };\n  items.push(request);\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        192
      ],
      "id": "4bdb9724-d6cb-4243-98b5-627cd1478695",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://172.17.0.1:8089/engine-rest/external-task/{{ $json.taskId }}/complete",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        192
      ],
      "id": "319882e4-a98b-4bb9-a5ec-49678e24988c",
      "name": "Complete Task",
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch and Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch and Lock": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Complete Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ee4555ef-c731-435e-ae0c-1e35a35102be",
  "meta": {
    "instanceId": "ef4497f8d5217e9621c78657131904e819ae96299c38b7a122d90b030f76fc21"
  },
  "id": "YbqN0KqY8OQke4Xx",
  "tags": []
}