artifacts/appflexor/n8n-workflows/accounting/auth2-sync.json
{
  "name": "auth2-sync",
  "nodes": [
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -112,
        64
      ],
      "id": "a454d553-7c3b-42a4-9055-e6756c6bdec6",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let item = {\n  id: $('Prepare Database').item.json.id,\n  access_token: $json.access_token,\n    refresh_token: $json.refresh_token,\n    expires_in: $json.expires_in\n  \n           };\nlet request = {\n  tenant_id: $('Prepare Database').item.json.c_datasource,\n  data: []\n};\nlet record = {\n    formId: \"integration\",\n    entity: \"integration\",\n    action: \"update\",\n    id: $('Prepare Database').item.json.id,\n    formData: {\n      ...item\n    }\n  }\nrequest.data.push(record);\nreturn request;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        64
      ],
      "id": "e6006698-c754-4f0f-9fb8-10a330d3aca1",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.CLOUD_URL}}/app/service?service.key=update.formData",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "AUTH_KEY",
              "value": "=1d59ea80-22ba-4475-96db-13127f668971"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        64
      ],
      "id": "9672d5a1-77f6-47a2-b207-27278f9ab18b",
      "name": "HTTP Request3",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from app_fd_integration\nwhere c_external_system in ('xero','qbo')",
        "additionalFields": {}
      },
      "id": "33cb32bb-6908-4f1d-af11-8ad473cb2e8d",
      "name": "Prepare Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -608,
        48
      ],
      "credentials": {
        "postgres": {
          "id": "Hh0bcgMxfW9DFTEE",
          "name": "tenant db"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\"datasource\":\"tenantshst00105\"}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -816,
        48
      ],
      "id": "cf3bf99f-8db4-4b3d-87fd-39e56492a56f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 25
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -992,
        48
      ],
      "id": "cfcc12b4-74d1-49d3-ba7e-7cbb9edae743",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.c_token_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "refresh_token"
            },
            {
              "name": "refresh_token",
              "value": "={{ $json.c_refresh_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -368,
        160
      ],
      "id": "f24ef565-f223-4455-a544-ceb539dc138d",
      "name": "Refresh Token",
      "credentials": {
        "httpBasicAuth": {
          "id": "NAuhg6tRiOq7IPzJ",
          "name": "Xero credential"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Merge1": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Prepare Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Database": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Refresh Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh Token": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "70cf7bdb-d276-4533-b833-6b217caff1cf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ef4497f8d5217e9621c78657131904e819ae96299c38b7a122d90b030f76fc21"
  },
  "id": "SvBNkQgIGWaMjVBM",
  "tags": []
}