artifacts/appflexor/n8n-workflows/accounting/coa-embedding.json
{
  "name": "coa-embedding",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -496,
        -48
      ],
      "id": "e52ef2a6-123b-4960-a34f-f68f7983004c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from app_fd_chart_of_accounts",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -208,
        -48
      ],
      "id": "5cd6d011-2748-4249-b558-8def673e2c27",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "Hh0bcgMxfW9DFTEE",
          "name": "tenant db"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "=Party: {{ $('Prepare Data').item.json.text }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "type",
                "value": "={{ $('Prepare Data').item.json.meta.type }}"
              },
              {
                "name": "org_id",
                "value": "={{ $('Prepare Data').item.json.meta.org_id }}"
              },
              {
                "name": "party_id",
                "value": "={{ $('Prepare Data').item.json.meta.party_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        368,
        144
      ],
      "id": "d1231d15-aca0-4c6d-8194-54c5acdc969e",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "classification_embeddings",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        224,
        -48
      ],
      "id": "f63375be-30eb-49c8-b2e1-deaa77e57275",
      "name": "Insert Embeddings",
      "credentials": {
        "postgres": {
          "id": "Hh0bcgMxfW9DFTEE",
          "name": "tenant db"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const datasource = $('When clicking ‘Execute workflow’').first().json.datasource;\nreturn items.map(c => {\n  return {datasource, text:c.json.c_text, meta:{type:'account', org_id:c.json.c_org_id, account_id:c.json.c_external_id}}\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        -48
      ],
      "id": "1bd0a302-dab1-4536-a250-34bad3467b7b",
      "name": "Prepare Data"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        176,
        144
      ],
      "id": "8ce50424-f17f-4756-9f2d-b0fa8972b5dc",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "qW5kp4Rk8410Q1xV",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE EXTENSION IF NOT EXISTS vector;\nCREATE TABLE IF NOT EXISTS public.classification_embeddings\n(\n    id SERIAL PRIMARY KEY,\n    text TEXT NOT NULL,\n    embedding vector(768),\n    metadata JSONB\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -208,
        144
      ],
      "id": "508ac8a2-016b-420f-8ffb-b33a6e0500d3",
      "name": "Create Table",
      "credentials": {
        "postgres": {
          "id": "Hh0bcgMxfW9DFTEE",
          "name": "tenant db"
        }
      }
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "datasource": "tenantshst00105"
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert Embeddings",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Insert Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Insert Embeddings",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9d499f8d-1237-4507-9ed6-b74d34ca3460",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ef4497f8d5217e9621c78657131904e819ae96299c38b7a122d90b030f76fc21"
  },
  "id": "389RPtLR91rprwPD",
  "tags": []
}