artifacts/appflexor/n8n-workflows/accounting/party-embedding.json
{
  "name": "party-embedding",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -768,
        0
      ],
      "id": "209fbc9f-9122-4520-9256-75ce872f0a4b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from app_fd_party",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -160,
        -16
      ],
      "id": "0683ac6d-2d85-4cc6-8501-0ff4016ac36f",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "Hh0bcgMxfW9DFTEE",
          "name": "tenant db"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Prepare Data').item.json.text }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "type",
                "value": "={{ $('Prepare Data').item.json.meta.type }}"
              },
              {
                "name": "org_id",
                "value": "={{ $('Prepare Data').item.json.meta.org_id }}"
              },
              {
                "name": "party_id",
                "value": "={{ $('Prepare Data').item.json.meta.party_id }}"
              },
              {
                "name": "integration",
                "value": "={{ $('Prepare Data').item.json.meta.integration }}"
              },
              {
                "name": "name",
                "value": "={{ $('Prepare Data').item.json.meta.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        352,
        192
      ],
      "id": "f8e6298c-0764-4fc6-b3e8-cba7b06bbca7",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "classification_embeddings",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        208,
        -16
      ],
      "id": "85a8145f-a5f0-4df9-9db4-4f7b865e7f16",
      "name": "Insert Embeddings",
      "credentials": {
        "postgres": {
          "id": "Hh0bcgMxfW9DFTEE",
          "name": "tenant db"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const datasource = $('When clicking ‘Execute workflow’').first().json.datasource;\nreturn items.map(c => {\n  return {\n    datasource, \n    text:c.json.c_name.toLowerCase(),\n    meta:{name:c.json.c_name, type:'party', org_id:c.json.c_org_id, party_id:c.json.c_external_id, integration:c.json.c_integration}\n  }\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        -16
      ],
      "id": "d5422786-3fe5-4459-b574-689b2cc93828",
      "name": "Prepare Data"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        128,
        192
      ],
      "id": "617904f6-d225-4241-ae4f-9b3b61c58956",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "qW5kp4Rk8410Q1xV",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete from classification_embeddings\nwhere metadata->>'integration'=$1 and metadata->>'type'='party'",
        "options": {
          "queryReplacement": "={{ $json.integration }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -480,
        -144
      ],
      "id": "f912077d-2b6a-49f2-a74a-ae2d4bd0f611",
      "name": "Remove Existing",
      "credentials": {
        "postgres": {
          "id": "Hh0bcgMxfW9DFTEE",
          "name": "tenant db"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -320,
        -16
      ],
      "id": "ba111121-7fb2-467f-8104-027c133e8074",
      "name": "Merge"
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "datasource": "tenantshst00105",
          "integration": "6d72e2ba-e543-45a0-bc0b-43d9eab18c60"
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Remove Existing",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert Embeddings",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Insert Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Insert Embeddings",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Remove Existing": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9886fd76-2df0-4707-ac9a-be1f7c3a1168",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ef4497f8d5217e9621c78657131904e819ae96299c38b7a122d90b030f76fc21"
  },
  "id": "J5Xq67Tw24pZ9iyf",
  "tags": []
}