artifacts/appflexor/n8n-workflows/accounting/xero-callback.json
{
  "name": "xero-callback",
  "nodes": [
    {
      "parameters": {
        "path": "xero-auth/callback",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "dd798d4e-a3d5-4790-954d-d6b2f048d538",
      "name": "Webhook - Xero Callback",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -128,
        144
      ],
      "webhookId": "bc285422-aa3a-4c6e-b745-7da450219575"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.c_token_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "authorization_code"
            },
            {
              "name": "code",
              "value": "={{ $json.query.code }}"
            },
            {
              "name": "redirect_uri",
              "value": "={{$json.c_redirect_uri}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        240
      ],
      "id": "46af82c8-74a1-494d-b8c0-63ca9e4b5cc1",
      "name": "HTTP Request",
      "credentials": {
        "httpBasicAuth": {
          "id": "zPgwELHiYAl3UjP6",
          "name": "Xero credential"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "http://bookkeeping.dev.com/app/page/setup",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        608,
        16
      ],
      "id": "097719c5-7298-4fb4-9791-a766c90815d0",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let state = $('Webhook - Xero Callback').item.json.query.state.split(',');\nlet id = state[1];\nlet request = {\n  tenant_id: state[0],\n  data: []\n};\nlet record = {\n    formId: \"integration\",\n    entity: \"integration\",\n    action: \"update\",\n    id: id,\n    formData: {\n      ...$json,\n      id: id\n    }\n  }\nrequest.data.push(record);\nreturn request;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        240
      ],
      "id": "3e4fbe10-d954-458c-86e0-695af4b1a128",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://cloud.dev.com/app/service?service.key=update.formData",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "AUTH_KEY",
              "value": "=1d59ea80-22ba-4475-96db-13127f668971"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        240
      ],
      "id": "443a73c7-9a8f-45bf-a487-4009f5a99531",
      "name": "HTTP Request1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from app_fd_integration where id='{{ $json.id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        16
      ],
      "id": "458ade3e-2e45-471d-85d9-621a9d81421d",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "Hh0bcgMxfW9DFTEE",
          "name": "tenant db"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let state = item.json.query.state.split(',');\nreturn {id:state[1], datasource:state[0]}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        16
      ],
      "id": "69a02927-2a3c-4e43-9d9a-1201ac263c3d",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        128,
        240
      ],
      "id": "44d74f7d-9118-47ae-87b9-df25d35ff251",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Xero Callback": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b78d64f1-af69-47b2-adde-2c27d2a85530",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ef4497f8d5217e9621c78657131904e819ae96299c38b7a122d90b030f76fc21"
  },
  "id": "ebgQdk3Mm4Ju0UYt",
  "tags": []
}